{% extends 'shituation/base.html' %}
{% block content %}

    <div align="center"><div><h3>Members:</h3>
Moras:drums/vox
Miskas:guitars/vox
    Andreas:bass/vox</div>
    <div><h3>Τόπος καταγωγής:</h3>
        Αλεξανδρουπολη</div>
    <div><h3>Πληροφορίες:</h3>
    SpEeD RoCk&RoLL Trio(3)</div>
    <div><h3>Βιογραφικό:</h3>
Βρώμικο κοπανατζίδικο τρίο προερχόμενο από την Αλεξανδρούπολη
    εδημιουργήθη το 2010 και μετά από μία αγρανάπαυση
    συνεχίζει τις συναυλίες στον ελλαδικό χώρο.
    Stay tuned για πληροφορίες σχετικά με επερχόμενα live!!!
    </div></div>
{% endblock %}